{notification}

<section id="widget-grid" class="">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i></span>
                    <h2>Form Grid </h2>
                </header>
                <div>
                    <div class="jarviswidget-editbox"></div>
                    <div class="widget-body">
                        {if isset($fields) && $fields|@count > 0}
                        <form action="" method="post" class="smart-form" enctype="multipart/form-data" >
                            {assign var='FieldCustomize' value = array('name','alias','category','source',"imgthumb","images")}
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="br-dashed br-grey" >
                                            {if $fields.imgthumb.value|count_characters > 0 }
                                            {img file="/uploads/massage/"|cat:$fields.imgthumb.value class="img-responsive upload-imgthumb"}
                                            {else}
                                            {img file="svg/image/500x200.svg" class="img-responsive upload-imgthumb"}
                                            {/if}
                                            <input type="file" name="imgthumb[]" accept="image/*" multiple class="hidden" >
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        {inputs name="name" field=$fields.name}
                                        {inputs name="alias" field=$fields.alias}
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset style="padding-top: 0;">

                                {foreach $fields AS $name=>$field }
                                {if !$name|in_array:$FieldCustomize}
                                {inputs name=$name field=$field}
                                {/if}

                                {/foreach}

                            </fieldset>
                            <footer class="smart-form" >
                                <button class="btn btn-primary" type="submit"> Submit Form </button>
                            </footer>
                        </form>
                        {/if}
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>